@charset "utf-8";



.aside {
    position: absolute;
    z-index: 300;
    top: auto;
    left: 0;
    right: auto;
    bottom: 0;
    width: 100vw;
    height: 64px;
    background-color: rgba(0, 0, 0, 0.64);
    padding: 0 1%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aside.inactive {
    display: none;
}
