@charset "utf-8";


html,
body,
main {
    height: 100vh;
    overflow: hidden;
}

body { margin: 0; }



.nav {
    position: absolute;
}



.aside {
    position: absolute;
}



.image-box {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
    overflow: auto;
}



.main-image {
    max-width: 100vw;
    max-height: 100vh;
}



@media (prefers-color-scheme: dark) {
    body { background-color: #333; color: #fff;}
}




@media (prefers-color-scheme: light) {
    body { background: #fff; color: #333; }
}


