@charset "utf-8";


* {
    box-sizing: border-box;
}

html,
body,
main {
    height: 100vh;
    overflow: hidden;
}

body { margin: 0; }



.nav {
    position: absolute;
}

.aside {
    position: absolute;
}

.inactive {
    display: none;
}



.image-box {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
    overflow: auto;
}

.image-box.over-width {
    justify-content: flex-start;
}

.image-box.over-height {
    align-items: flex-start;
}



.main-image {
    max-width: 100vw;
    max-height: 100vh;
    object-fit: contain;
}



.image-control.image-prev {
    position: absolute;
    z-index: 110;
    top: 0;
    left: 0;
    width: 25vw;
    height: 100vh;
}

.image-control.image-next {
    position: absolute;
    z-index: 120;
    top: 0;
    right: 0;
    width: 25vw;
    height: 100vh;
}




@media (prefers-color-scheme: dark) {
    body { background-color: #333; color: #fff;}
}




@media (prefers-color-scheme: light) {
    body { background: #fff; color: #333; }
}


