@charset "utf-8";



.nav {
    position: absolute;
    z-index: 200;
    top: 0;
    left: 0;
    right: auto;
    bottom: auto;
    width: 100vw;
    height: 64px;
    background-color: rgba(0, 0, 0, 0.64);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav.inactive {
    z-index: -100;
}

.nav-zoom,
.nav-config,
.nav-moveview {
    display: flex;
    align-items: center;
}

.nav-icon {
    padding: 10px;
    height: 30px;
    font-size: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}



